.juddtheme-callout {
  padding: 2em;
  background: #ddd;
  position: relative;
}
.juddtheme-callout:before {
  content: 'Technical Aside';
  position: absolute;
  color: #222;
  font-size: 1.2em;
  font-family: cursive;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
}
.technical-aside:before {
  content: 'Technical Aside';
}
.social-aside:before {
  content: 'Social Aside';
}
.personal-aside:before {
  content: 'Personal Aside';
}
