<!--Template for list of posts -->
<spinner name="impatientWaiting" class="impatient-waiting" on-loaded="spinnerLoaded(spinnerApi)" on-hide="spinnerHide()" ng-class="{'hiding':hiding}" img-src="https://media.tenor.co/images/21c0e8dc0259f94a7aae44817bd24b1d/raw"></spinner>
<div class="row">
  <category-sidebar-directive categories-object="categories"></category-sidebar-directive>
  <div class="col-sm-9 col-sm-pull-3">
    <section ng-repeat="post in blogPosts" class="listed-post">
      <post-directive post-object="post"></post-directive>
    </section>
    <section class="scramblr">
      <h3>Scramble while you wait?</h3>
      <select ng-model="scrambleType" ng-options="o as o for o in scrambleOptions"></select>
      <input type="text" ng-model="toScrambleString" /><button ng-click="scrambleIt()">Scramble!</button>
      <hr />
      <p>You are attempting to scramble __{{toScrambleString}}__ with the method: {{scrambleType}}</p>
      <p>The result is: <span ng-bind-html=scrambledString></span></p>
      <hr />
    </section>
  </div>
</div>
